{
  "plugins": ["prettier-plugin-tailwindcss"],
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,

  "singleQuote": true,
  "jsxSingleQuote": false,
  "semi": true,
  "quoteProps": "as-needed",

  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",

  "endOfLine": "lf",
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",
  "embeddedLanguageFormatting": "auto",

  "overrides": [
    {
      "files": "*.md",
      "options": {
        "printWidth": 80,
        "proseWrap": "always"
      }
    },
    {
      "files": ["*.json", "*.jsonc", "package.json"],
      "options": {
        "printWidth": 80,
        "trailingComma": "none"
      }
    }
  ]
}
